
footer {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    position: relative;
    //padding: 2rem 0;

    .footer-logos {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: clampRem(10,20, $bp-mobile, $bp-regular);

        a svg {
            width: clampRem(30,70, $bp-mobile, $bp-regular);
            height: clampRem(30, 70, $bp-mobile, $bp-regular); 
            fill: var(--darkgrey);
        }

        a {
            transition: all 0.2s ease;
        }

        a:hover svg {
            fill: #5cce7e;
            fill:  rgba(255, 255, 255, 0.667);
        }
    }

    .mention-link {
        font-family: "Cabinet Grotesk", sans-serif;
        font-size: clampRem(14, 18, $bp-mobile, $bp-regular);
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}



 

