
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    position: relative;
    
    .footer-logos {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: clampRem(10,20, $bp-mobile, $bp-regular);
        fill: var(--darkgrey);

        a svg {
            width: clampRem(30,70, $bp-mobile, $bp-regular);
            height: clampRem(30, 70, $bp-mobile, $bp-regular); 
        }

        a {
            transition: all 0.2s ease;
        }

        a:hover {
            fill: #5cce7e;
            fill:  rgb(255, 255, 255);
        }
    }

    .mention-link {
        font-family: "Cabinet Grotesk", sans-serif;
        font-size: clampRem(14, 18, $bp-mobile, $bp-regular);
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}



 

