*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
} 

body {
    
    --home-bg: #e4eed3;

    --darkgrey: #333232;
    --black: #00202a;
    --white: #f8f8f8;
    --blue: #ffd700;
    --skin: #f19682;
    --dark-skin: #cc3c40;
    --light-skin: #f3af9f;
    --yellow: #f6d359;
    --dark-yellow: #e9a964;

    color: var(--darkgrey);
}