@import "variables";
@import "base";

footer {
    .footer-logos {
        display: flex;
        align-items: center;
        align-content: center;

        a svg {
            width: clampRem(25, 150, $bp-mobile, $bp-regular);
            height: clampRem(25, 150, $bp-mobile, $bp-regular);
        }
    }
}