@import 'variables';
@import 'base';




body {
    background: var(--home-bg);
}

.homepage-container {
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    //height:100vmin;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: var(--home-bg);

    @include max($bp-small-px){
        flex-direction: column;

        .window-container{
            order: 3;
        }
        
        .window-container, .portrait-container, .nav-container {
            width: 100%;
            height:  fit-content;
            margin-bottom: 4rem;
        }

    }

    .portrait-container{
        padding-top: 2rem;
    }

}
