@import "variables";
@import "base";


* {
  margin: 0;
  padding: 0;
}


 .nightmode-bg {
  background: var(--home-bg-night) !important;
 }

 .nightmode-window {
  background: var(--sky-night) !important;
 }


 .lightray {
  position: absolute;
  width: clampRem(80, 700, $bp-mobile, $bp-regular);
  background-image: linear-gradient(#fcb10d99, #ffffff00);
  clip-path: polygon(50% 0, 100% 200%, 0 200%);
  left: clampRem(0, 30, $bp-mobile, $bp-regular);
  top: clampRem(0, 80, $bp-mobile, $bp-regular);
  height: clampRem(90, 500, $bp-mobile, $bp-regular);
  z-index: 48;
 }

.window-container {
  position: relative;
  height: 90vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //min-width: 60vmin;;
  //width: 50%;
}

.top-lamp {
  z-index: 50;
  position: absolute;
  width: clampRem(3, 5, $bp-mobile, $bp-regular);
  height: clampRem(90, 150, $bp-mobile, $bp-regular);
  background: var(--darkgrey);
  top: 0;
  right: clampRem(90, 120, $bp-mobile, $bp-regular);
}


.lamp {
  z-index: 50;
  position: absolute;
  width: clampRem(80, 120, $bp-mobile, $bp-regular);
  top: clampRem(50, 60, $bp-mobile, $bp-regular);
  border-radius: 10%;
  right: clampRem(50, 60, $bp-mobile, $bp-regular);
  border-bottom: clampRem(50, 100, $bp-mobile, $bp-regular) solid var(--darkgrey);
  border-left: clampRem(10, 20, $bp-mobile, $bp-regular) solid transparent;
  border-right: clampRem(10, 20, $bp-mobile, $bp-regular) solid transparent;
  height: 0;
}

.wall {
  width: clampRem(300, 500, $bp-mobile, $bp-regular);
  //height: 55vmin;
  background: var(--home-bg);
  border-bottom: 4px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  bottom: 0;
}

.window-main {
  width: clampRem(150, 320, $bp-mobile, $bp-regular);
  height: clampRem(200, 235, $bp-mobile, $bp-regular);
  background: var(--sky);
  overflow: hidden;
}

.window-top {
  width: clampRem(150, 320, $bp-mobile, $bp-regular);
  height: clampRem(85, 265, $bp-mobile, $bp-regular);
  background: var(--sky);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  overflow: hidden;
}

.innerline-center {
  position: absolute;
  height: clampRem(290, 520, $bp-mobile, $bp-regular);;
  width: 2px;
  background-color: #aaa;
}

.innerline-hor1,
.innerline-hor2,
.innerline-hor3,
  {
  position: absolute;
  height: 2px;
  width: clampRem(150, 320, $bp-mobile, $bp-regular);;
  background-color: #aaa;
}

.innerline-hor1 {
  bottom: clampRem(200, 350, $bp-mobile, $bp-regular);
}

.innerline-hor2 {
  bottom: clampRem(135, 230, $bp-mobile, $bp-regular);
}

.innerline-hor3 {
  bottom: clampRem(65, 110, $bp-mobile, $bp-regular);
}

.clouds {
  width: clampRem(45, 90, $bp-mobile, $bp-regular);
  height: clampRem(30, 60, $bp-mobile, $bp-regular);
  background-color: white;
  position: absolute;
  border-radius: 100%;
}

.cloud1 {
  box-shadow: clampRem(25, 40, $bp-mobile, $bp-regular) clampRem(8, 10, $bp-mobile, $bp-regular) 0 clampRem(-5, -10, $bp-mobile, $bp-regular) white, 
  clampRem(-20, -50, $bp-mobile, $bp-regular) clampRem(8, 10, $bp-mobile, $bp-regular) 0 clampRem(-5, -8, $bp-mobile, $bp-regular) white;
  top: clampRem(140, 280, $bp-mobile, $bp-regular);
  left: clampRem(80, 160, $bp-mobile, $bp-regular);
  animation: cloudwind 50s linear infinite;
}

.cloud2 {
  width: clampRem(50, 100, $bp-mobile, $bp-regular);
  height: clampRem(25, 50, $bp-mobile, $bp-regular);
  box-shadow: clampRem(30, 50, $bp-mobile, $bp-regular) clampRem(8, 10, $bp-mobile, $bp-regular) 0 clampRem(-5, -12, $bp-mobile, $bp-regular) white, 
  clampRem(-35, -35, $bp-mobile, $bp-regular) clampRem(2, 15, $bp-mobile, $bp-regular) 0 clampRem(-3, -5, $bp-mobile, $bp-regular) rgb(255, 255, 255);
  top: clampRem(35, 105, $bp-mobile, $bp-regular);
  left: clampRem(80, 160, $bp-mobile, $bp-regular);

  animation: cloudwind 35s linear infinite;
}


@keyframes cloudwind {
  0%{
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  100% {
      left: -45%;
      opacity: 0.2;
  }
}



/// PLANTS

.plant1 {
  position: absolute;
  bottom: 0;
  left: clampRem(210, 370, $bp-mobile, $bp-regular);

  .pot1 {
    width: clampRem(45, 80, $bp-mobile, $bp-regular);
    height: clampRem(20, 40, $bp-mobile, $bp-regular);
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 19% 100%);
    background: linear-gradient(to bottom, #000 5%, orange 10%);
    border-radius: 10%;
    z-index: 10;
  }

  .anim1,
  .anim2,
  .anim3,
  .anim4,
  .anim5 {
    position: absolute;
    width: clampRem(45, 80, $bp-mobile, $bp-regular);
    height: clampRem(130, 190, $bp-mobile, $bp-regular);
    bottom: -0;
    transform-origin: bottom;
  }

  .branch {
    width: clampRem(10, 23, $bp-mobile, $bp-regular);
    background: transparent;
    position: absolute;
    border-radius: 100%;
    border: none;
    border-right: 2px solid darkgreen;
    bottom: 1vmin;
    z-index: 9;
  }

  .leaf {
    width: clampRem(40, 53, $bp-mobile, $bp-regular);
    background: green;
    position: absolute;
    border-radius: 5% 85%;
    border: none;
    border-right: 3px solid darkgreen;
    top: 0;
    z-index: 6;
  }

  .branch1 {
    left: clampRem(10, 18, $bp-mobile, $bp-regular);
    height: clampRem(107, 170, $bp-mobile, $bp-regular);
    z-index: 7;
  }

  .leaf1 {
    left: clampRem(-10, 5, $bp-mobile, $bp-regular);
    height: clampRem(35, 60, $bp-mobile, $bp-regular);
    top: clampRem(0, -30, $bp-mobile, $bp-regular);
    transform: rotate(28deg);
    z-index: 6;
  }

  .branch2 {
    left: clampRem(25, 45, $bp-mobile, $bp-regular);
    height: clampRem(80, 120, $bp-mobile, $bp-regular);
    border: none;
    border-left: 2px solid darkgreen;
  }

  .leaf2 {
    left: clampRem(10, 33, $bp-mobile, $bp-regular);
    height: clampRem(35, 62, $bp-mobile, $bp-regular);
    top: clampRem(30, 20, $bp-mobile, $bp-regular);
    transform: rotate(58deg);
    z-index: 8;
  }

  .branch3 {
    left: clampRem(30, 50, $bp-mobile, $bp-regular);
    height: clampRem(55, 75, $bp-mobile, $bp-regular);
    border: none;
    border-left: 2px solid darkgreen;
    transform: rotate(10deg);
  }

  .leaf3 {
    left: clampRem(22, 42, $bp-mobile, $bp-regular);
    height: clampRem(18, 30, $bp-mobile, $bp-regular);
    top: clampRem(65, 95, $bp-mobile, $bp-regular);
    transform: rotate(95deg);
    z-index: 8;
  }

  .branch4 {
    right: clampRem(32, 48, $bp-mobile, $bp-regular);
    height: clampRem(70, 120, $bp-mobile, $bp-regular);
  }

  .leaf4 {
    left: clampRem(-6, -3, $bp-mobile, $bp-regular);
    height: clampRem(30, 30, $bp-mobile, $bp-regular);
    top: clampRem(35, 40, $bp-mobile, $bp-regular);
    width: clampRem(25, 40, $bp-mobile, $bp-regular);
    transform: rotate(25deg);
    z-index: 8;
  }

  .branch5 {
    right: clampRem(35, 55, $bp-mobile, $bp-regular);
    height: clampRem(45, 80, $bp-mobile, $bp-regular);
    transform: rotate(-10deg);
  }

  .leaf5 {
    left: clampRem(-25, -15, $bp-mobile, $bp-regular);
    height: clampRem(20, 35, $bp-mobile, $bp-regular);
    top: clampRem(65, 75, $bp-mobile, $bp-regular);
    width: clampRem(40, 45, $bp-mobile, $bp-regular);
    transform: rotate(30deg);
    z-index: 8;
  }

  @keyframes swing-1 {
    100% {
      transform: rotate(2deg);
    }
  }

  @keyframes swing-2 {
    100% {
      transform: rotate(3deg);
    }
  }

  @keyframes swing-3 {
    100% {
      transform: rotate(2deg);
    }
  }

  .anim1 {
    animation: swing-1 ease-in-out 4s infinite alternate;
  }

  .anim2,
  .anim4,
  .anim5 {
    animation: swing-2 ease-in-out 5s infinite alternate;
  }

  .anim3 {
    animation: swing-3 ease-in-out 5s infinite alternate;
  }
}

.plant2 {
  position: absolute;
  bottom: 0;
  left: clampRem(205, 350, $bp-mobile, $bp-regular);

  .pot2 {
    width: clampRem(20, 40, $bp-mobile, $bp-regular);
    height: clampRem(15, 30, $bp-mobile, $bp-regular);
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 19% 100%);
    background: linear-gradient(to bottom, #000 5%, #614d4f 10%);
    border-radius: 10%;
    z-index: 15;
  }

  .branch {
    width: clampRem(1, 2, $bp-mobile, $bp-regular);
    height: clampRem(20, 30, $bp-mobile, $bp-regular);
    background: darkgreen;
    //top: 10px;
    position: absolute;
    z-index: 14;
  }

  .branch1 {
    height: clampRem(30, 60, $bp-mobile, $bp-regular);
    left: clampRem(10, 28, $bp-mobile, $bp-regular);
    bottom: 10px;
  }

  .flower {
    border-radius: 100%;
    //position: absolute;
    z-index: 26;
    background-color: #faaa18;
    height: clampRem(7, 10, $bp-mobile, $bp-regular);
    width: clampRem(7, 10, $bp-mobile, $bp-regular);
    animation: flowerRotation 20s linear infinite;
  }

  .flower1 {
    position: relative;
    left: clampRem(7, 23, $bp-mobile, $bp-regular);
    bottom: clampRem(35, 55, $bp-mobile, $bp-regular);
    background-color: #faaa18;
    /* box-shadow: 1vmin -0.2vmin #ffe000, -0.5vmin 0.8vmin #ffe000,
      -1vmin -0.2vmin #ffe000, 0vmin -1vmin #ffe000, 0.8vmin 0.8vmin #ffe000; */
      box-shadow: -5px -1px #ffe000, 5px -1px #ffe000,
      0px -5px #ffe000, -3px 5px #ffe000, 3px 5px #ffe000;
  }

  .branch2 {
    height: clampRem(15, 40, $bp-mobile, $bp-regular);
    left: clampRem(3, 10, $bp-mobile, $bp-regular);
    bottom: 10px;
  }

  .flower2 {
    position: relative;
    left: clampRem(0, 4, $bp-mobile, $bp-regular);
    bottom: clampRem(25, 45, $bp-mobile, $bp-regular);
    background: #e9ce93;
    box-shadow: -5px -1px #a84a67, 5px -1px #ce6787,
    0px -5px #a84a67, -3px 5px #ce6787, 3px 5px #a84a67;
    transform-style: preserve-3d;
  }

  .leaf {
    position: absolute;
    z-index: 14;
    border-radius: 100% 0 / 100% 0px;
    background-image: linear-gradient(
      to top left,
      #4c970e 50%,
      transparent 50%,
      transparent 50%,
      #33650a 50%
    );
  }

  .leaf1 {
    width: clampRem(10, 15, $bp-mobile, $bp-regular);
    height: clampRem(10, 15, $bp-mobile, $bp-regular);
    transform: rotate(0deg);
    bottom: clampRem(25, 45, $bp-mobile, $bp-regular);
    left: clampRem(10, 28, $bp-mobile, $bp-regular);
    //transform-origin: 0 140px;
    //animation: wind1 5.8s ease-in-out infinite;
    animation: wind1 5.8s ease-in-out infinite;
  }

  .leaf2 {
    width: clampRem(5, 12, $bp-mobile, $bp-regular);
    height: clampRem(5, 12, $bp-mobile, $bp-regular);
    transform: rotate(0deg);
    bottom: clampRem(15, 25, $bp-mobile, $bp-regular);
    left: clampRem(3, 8, $bp-mobile, $bp-regular);
    transform: rotate(4deg);
  }

  .leaf3 {
    width: clampRem(5, 12, $bp-mobile, $bp-regular);
    height: clampRem(5, 12, $bp-mobile, $bp-regular);
    transform: rotate(0deg);
    bottom: clampRem(15, 25, $bp-mobile, $bp-regular);
    left: clampRem(-1, 0, $bp-mobile, $bp-regular);
    transform: rotate(90deg);
  }

  @keyframes wind1 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@keyframes flowerRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plant3 {

  position: absolute;
  bottom: 0;
  left: clampRem(260, 460, $bp-mobile, $bp-regular);

  .pot3 {
    width: clampRem(15, 25, $bp-mobile, $bp-regular);
    height: clampRem(10, 15, $bp-mobile, $bp-regular);
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 19% 100%);
    background: linear-gradient(to bottom, #000 5%, #f1b9df 10%);
    border-radius: 10%;
    z-index: 15;
  }

  .cactus {
    position: absolute;
    bottom: clampRem(10, 10, $bp-mobile, $bp-regular);
    left: clampRem(3, 5, $bp-mobile, $bp-regular);
    width: clampRem(8, 12, $bp-mobile, $bp-regular);
    height: clampRem(12, 25, $bp-mobile, $bp-regular);
    background: repeating-linear-gradient(
      90deg,
      rgba(0, 120, 16, 1),
      rgba(0, 120, 16, 1),
      rgba(74, 177, 77, 1),
      rgba(74, 177, 77, 1),
      rgba(0, 120, 16, 1),
      rgba(0, 120, 16, 1),
      rgba(74, 177, 77, 1),
      rgba(74, 177, 77, 1) 70%
    );

    z-index: 10;
    border-radius: 30% 30% 0 0;
  }

  .cactus-arm {
    position: absolute;
    bottom: clampRem(10, 18, $bp-mobile, $bp-regular);
    left: clampRem(9, 15, $bp-mobile, $bp-regular);
    width: clampRem(7, 11, $bp-mobile, $bp-regular);
    height: clampRem(8, 12, $bp-mobile, $bp-regular);
    border-radius: 0 40% 80% 0;
    border-right: clampRem(3, 6, $bp-mobile, $bp-regular) solid green;
    border-bottom: clampRem(3, 6, $bp-mobile, $bp-regular) solid green;
    z-index: 9;
  }
}
