

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;



} 





body {
    
    --home-bg: #e4eed3;
    --home-bg: #e5b597;
    --home-bg: #E8B298;
    --home-bg-night: #2c2a3d;
    --about-bg: #edcb87;
    --about-bg: #c1d5b5;
    --mentions-bg: #D3A29D;

    --sky: #d6eaf8;
    --sky-night: #0b0728;
    --darkgrey: #333232;
    --lamp : #333232;
    --black: #00202a;
    --white: #f8f8f8;
    --blue: #ffd700;
    --skin: #f19682;
    --dark-skin: #cc3c40;
    --light-skin: #f3af9f;
    --yellow: #f6d359;
    --dark-yellow: #e9a964;
    --purpleburgandy: #815454;
    --darkpurpleburgandy: #39385a;
    --nav-hover : #ffffff75;
    --clouds: #ffffff;

    --paper: #ffffff;
    --projectbox-bg: #ffffff;

    --red: #A36361; 
    --pink: #D3A29D;
    --orange: #E8B298;
    --yellow: #EECC8C;
    --green: #BDD1C5;
    --dark-green: #819688;

    --burgernav-bg: #f4e6d6;

    
//overflow: unset !important;
    color: var(--darkgrey);
}

body.dark {
    --home-bg: #2c2a3d;
    --about-bg: #131327;
    --mentions-bg: #040414;
    
    --sky: #0b0728;
    --purpleburgandy: #39385a;
    --lamp: #333232;
    --darkgrey: #e5b597;
    --nav-hover : #29132a;
    --clouds : #ffffff00;
    
    --burgernav-bg: #14152b;

    --paper: #14152b;
    --projectbox-bg: #14152b;

    --red: #131327; 
    --pink: #2c2a3d;
    --orange: #393657;
    --yellow: #393657;
    --green: #BDD1C5;
    --dark-green: #819688;
}


.overflow{
    overflow: hidden;
}


.displaynone {
    display: none !important;
}

.displayblock {
    display: block !important;
}
